<html>
    <body>
        <h1>My form</h1>
        <form method="post" action="/form-process">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="txt1" placeholder='Enter name'/></td>
                </tr>
                <tr>
                    <td>Contact No.: </td>
                    <td><input type="text" name="txt2" placeholder='Enter no.'/></td>
                </tr>
                <tr>
                    <td>Email </td>
                    <td><input type="text" name="txt3" placeholder='Enter mail id'/></td>
                </tr>
                <tr>
                   <td><input type="submit"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>





