<html>
    <body>
        <h1>Add Record</h1>
        <a href ='/display'>Display Record</a>
        <form method="post" action="/add-process">
            
            name:<input type="text" name="txt1" required>
            details:<input type="text" name="txt2" required>
            price:<input type="text" name="txt3" required>
            <input type='submit'>
        </form>
    </body>
</html>