<html>
    <body>
        <h1>My form</h1>
        <form method="post" action="/form-process">
            <table>
                <tr>
                    <td>Number1</td>
                    <td><input type="text" name="txt1" placeholder='Enter no.'/></td>
                </tr>
                <tr>
                    <td>Number2</td>
                    <td><input type="number" name="txt2" placeholder='Enter no.'/></td>
                </tr>
                <tr>
                   <td><input type="submit"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>