<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/users/home">Homepage</a></li>
			
			<li><a href="/users/about">About</a></li>
			<li><a href="/users/contact">Contact</a></li>
			<li><a href="/myform">Contact</a></li>
		</ul>
	</div>